<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
		<add name="connectionString" connectionString="Data Source=localhost;Initial Catalog=jobworld;Persist Security Info=True;User ID=jobworld;Password=jobworld123!@#" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<!--디비 관련 설정-->
		<!--로컬 디비-->
		<add key="DB_HOST" value="localhost" />
		<add key="DB_PORT" value="1433" />
		<add key="DB_NAME" value="jobworld" />
		<add key="DB_USER" value="jobworld" />
		<add key="DB_PASS" value="jobworld" />
		<add key="DB_BACKUP_PATH" value="D:\DBBackup\" />
    
    <!--아이피 및 경로 관련 설정-->
    <add key="ABS_ADVERTISEMENT_PATH" value="T:\Work\web\asp.net\jobworld\ResultFiles\advertisement\"/>
    <add key="ABS_CONTENT_PATH" value="T:\Work\web\asp.net\jobworld\ResultFiles\articleFiles\"/>
    <add key="ABS_IMAGE_PATH" value="T:\Work\web\asp.net\jobworld\ResultFiles\imageFiles\"/>
    <add key="ABS_PATH" value="T:\Work\web\asp.net\jobworld\ResultFiles\"/>
    <add key="FILE_CONTENT_PATH" value="file:///T:/Work/web/asp.net/jobworld/ResultFiles/"/>

    <add key="IMAGE_PATH" value="http://localhost:8011/imageFiles/"/>
    <add key="CON_PATH" value="http://localhost:8011/"/>
    <add key="ADV_PATH" value="http://localhost:8011/advertisement/"/>

    <!--페이지 관련 설정-->
		<add key="URL_MOBILE" value="/M" />
		<add key="MAIL_ADMIN" value="onlyone@gmail.com" />
		<!--쿠키 관련 설정-->
		<add key="COOKIE_INUSED" value="true" />
		<!--쿠키사용여부 true: 사용 false: 미사용-->
		<add key="COOKIE_TIMEOUT" value="24" />
		<!--쿠키보관시간 단위: 시간-->
		<!--세션 관련 설정-->
		<add key="SESSION_TIMEOUT" value="60" />
		<!--세션보관시간 단위: 분-->
		<!--은행목록(반점으로 구분)-->
		<add key="BANKNAMES" value="국민은행,신한은행,제일은행,농협중앙회,기업은행,하나은행,단위농협,외환은행,우리은행,우체국,경남은행,광주은행,대구은행,부산은행,산업은행,상호저축은행,새마을금고,수협중앙회,신용협동조합,전북은행,제주은행,HSBC,시티은행,동양종금" />
	</appSettings>
	<system.web>
    <globalization
               fileEncoding="utf-8"
               culture="ko-KR"
               uiCulture="ko-KR"/>

		<customErrors mode="Off"></customErrors>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" /></assemblies></compilation>
		<membership>
			<providers>
				<clear />
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
		<profile>
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName=" licationServices" applicationName="/" />
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear />
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
			</providers>
		</roleManager>
		<httpRuntime maxRequestLength="200000"></httpRuntime>
		<pages enableEventValidation="false" />
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2000000000">
				</requestLimits>
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>
